spring:
  datasource:
    url: jdbc:postgresql://user-postgres:5432/user_db
    username: user_admin
    password: password123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.transport.user: DEBUG
    org.hibernate.SQL: DEBUG
