spring:
  application:
    name: ticketing-service
  
  datasource:
    url: ${TICKETING_DB_URL}
    username: ${TICKETING_DB_USERNAME}
    password: ${TICKETING_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
    consumer:
      group-id: ticketing-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"