spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing_db
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true

logging:
  level:
    com.transport.ticketing: DEBUG